@model IEnumerable<Nhom08PTPMQL.Models.DonDatHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin đơn đặt hàng</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label> Tên đơn hàng</label>
        </th>
        <th>
            <label> Giá trị</label>
        </th>

        <th>
            <label> Tình trạng</label>
        </th>

        z<th>
            <label> Tùy chỉnh</label>
        </th>

    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TenDDH)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GiaTriDDH)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TinhTrang)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.TenDDH }) |
        @Html.ActionLink("Details", "Details", new { id = item.TenDDH }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.TenDDH })
    </td>
</tr>
}

</table>
