@model Nhom08PTPMQL.Models.Item

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDIteam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDIteam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceItem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountItem)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NameItem }) |
    @Html.ActionLink("Back to List", "Index")
</p>
